<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azure20240131123306.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d80635a-7468-46fa-9ce5-ce8517cff8e3/resourcegroups/converrtAzurepdf_group/providers/Microsoft.Web/sites/azure20240131123306</ResourceId>
    <UserName>$azure20240131123306</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azure20240131123306.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>